{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block sidebar %}
    {{ parent() }}
    {{ include('lucky/sidebar.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    {#{{ include('lucky/list.html.twig', {'array': array}) }}#}
{% endblock %}